pydantic
langchain
langchain-openai
langchain-anthropic
langchain-aws
langchain-community
langgraph
sympy
typing
pandas
numpy
requests
beautifulsoup4
lxml
sentencepiece
scikit-learn
nltk
spacy
transformers>=4.44.0
tensorboardX>=2.5
torch
scipy>=1.13.0
setuptools>=75.0.0
rank_bm25
